* {
  margin: 0;
  padding: 0;
}

body {
  background: #000000;
  color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.source {
  position: absolute;
  bottom: 1rem;
  color: #ffffff;
}
